#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.menu{
  padding:0rem 2rem;
  border-radius: 5px;
}
.menu:hover, .menu .active:hover{
  background-color: #f90;
  color: black;
  padding:0.5rem 2rem;
  border-radius: 5px;
}
.menu .active{
  background-color: #f90;
  color: #fff;
  padding:0.5rem 2rem;
  border-radius: 5px;
}
